<p id="notice"><%= notice %></p>

<p>
  <b>Device:</b>
  <%= @resolver.device %>
</p>

<p>
  <b>Devtype:</b>
  <%= @resolver.devtype %>
</p>

<p>
  <b>Userhandle:</b>
  <%= @resolver.userhandle %>
</p>

<p>
  <b>Ipadd:</b>
  <%= @resolver.ipadd %>
</p>

<p>
  <b>Portsock:</b>
  <%= @resolver.portsock %>
</p>

<p>
  <b>Porthttpd:</b>
  <%= @resolver.porthttpd %>
</p>

<p>
  <b>Longitude:</b>
  <%= @resolver.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @resolver.latitude %>
</p>



<%= link_to 'Edit', edit_resolver_path(@resolver) %> |
<%= link_to 'Back', resolvers_path %>
